/*form label{
	margin-top: 10px;
}*/

form textarea {
    min-height: 105px;
}

#reg_hora,
#reg_fecha {
    width: 165px;
}

#form_registrar {
    padding-top: 15px;
}

#visitante_identidad {
    min-width: 250px;
}

#visitante_nombre {
    max-width: 270px;
}

#reg_submit {
    min-height: 100px;
}

#reg_submit input {
    position: relative;
    top: 30px;
}

@media (min-width: 1200px) {
    .container {
        /*max-width: 970px;*/
        max-width: 920px;
    }
}

#add_filter {
    position: relative;
    top: 16px;
    cursor: pointer;
}

#filtros .datepicker {
    max-width: 99px;
}

#filtros .v_hora {
    max-width: 117px;
}

#filtros {
    margin-bottom: 10px;
    margin-top: 10px;
}

#filtros .input-sm,
#visita_fecha,
#visita_hora,
#visitante_identidad,
#entra_sale {
    font-size: 1.15em;
}

#buscar_visita {
    max-width: 200px;
}

#filtros .pull-left {
    margin-right: 5px;
}

#limit {
    padding-bottom: 0;
    margin-bottom: 5px;
    padding-top: 0px;
    margin-right: 5px;
    /*position: relative;
    left: 95%;*/
}

#form_registrar label {
    margin-top: 7px;
}

#entra_sale {
    max-width: 200px;
}