<div id="filtros" class="form-inline">
	<label for="desde_fecha" class="">Fecha</label>
	<div class="input-group input-daterange">
    	<input type="text" class="show form-control datepicker input-sm" name="desdeFecha" id="desde_fecha" placeholder="día/mes/año" />	
    	<div class="input-group-addon">hasta</div>
    	<input type="text" class="show form-control datepicker input-sm" name="hastaFecha" id="hasta_fecha" placeholder="día/mes/año" />	
	</div>
	<label for="desde_hora" class="">Hora</label>
	<div class="input-group">
		<input type="text" class="show form-control v_hora input-sm" name="desdeHora" id="desde_hora" placeholder="hh:mm:ss am" />	
		<div class="input-group-addon">hasta</div>
		<input type="text" class="show form-control v_hora input-sm" name="hastaHora" id="hasta_hora" placeholder="hh:mm:ss pm" />	
	</div>
	<span class="glyphicon glyphicon-plus btn-link btn-lg" id="add_filter"></span>
</div>
<table class="table" id="visitas_table">
	<thead>
 		<tr>
 			<th data-field="visitante">VISITANTE</th>
 			<th data-field="visitante_cedula">VISITANTE ID</th>
      	<th data-field="origen">ORIGEN</th>
      	<th data-field="destino">DESTINO</th>
			<th data-field="vehiculo">VEHICULO</th>
			<th data-field="autorizada_por">AUTORIZADA POR</th>
			<th data-field="fecha">FECHA</th>
			<th data-field="hora">HORA</th>
<!--			<th data-field="fecha_evento">FECHA DEL SISTEMA</th>-->
 		</tr>
 	</thead>
</table>
<div class="text-center">
	<ul class="pagination">
		<li><a href="#">1</a></li>
  		<li><a href="#">2</a></li>
  		<li><a href="#">3</a></li>
  		<li><a href="#">4</a></li>
  		<li><a href="#">5</a></li>
	</ul>
</div>