<div id="filtros" class="form-inline clearfix">
    <div class="col-md-4 col-md-offset-1">
        <label for="desde_fecha" class="">Fecha <span class="glyphicon glyphicon-calendar"></span></label>
    </div>
    <div class="col-md-7">
        <label for="desde_hora" class="">Hora <span class="glyphicon glyphicon-time"></span></label>
        <div class="pull-right">

            <select class="form-control input-sm" id="limit">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>10</option>
                <option>15</option>
                <option>25</option>
                <option>50</option>
                <option>100</option>                                    
            </select>
            <label for="limit">Filas por pagina</label>
        </div>
    </div>

    <div class="pull-left">
        <div class="input-group input-daterange">
            <input type="text" class="show form-control datepicker input-sm" name="desdeFecha" id="desde_fecha" placeholder="día/mes/año" />
            <div class="input-group-addon">hasta</div>
            <input type="text" class="show form-control datepicker input-sm" name="hastaFecha" id="hasta_fecha" placeholder="día/mes/año" />
        </div>
    </div>

    <div class="pull-left">
        <div class="input-group">
            <input type="text" class="show form-control v_hora input-sm" name="desdeHora" id="desde_hora" placeholder="hh:mm:ss am" />
            <div class="input-group-addon">hasta</div>
            <input type="text" class="show form-control v_hora input-sm" name="hastaHora" id="hasta_hora" placeholder="hh:mm:ss pm" />
        </div>
    </div>

    <div class="pull-left">
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle btn-sm" id="buscar_por" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <strong>Visitante</strong> <span class="caret"></span>
        </button>
                <ul class="dropdown-menu" id="a_buscar">
                    <li class="hidden"><a href="#">Visitante</a></li>
                    <li class="show"><a href="#">Seguridad</a></li>
                    <li class="show"><a href="#">Autorizado por</a></li>
                </ul>
            </div>
            <!-- /btn-group -->
            <input type="text" class="show form-control input-sm" name="buscarVisita" id="buscar_visita" aria-label="..." placeholder="nombre o cedula" />
        </div>
        <!-- /input-group -->
    </div>

    <!--	<span class="glyphicon glyphicon-plus btn-link btn-lg" id="add_filter"></span>-->
</div>
<table class="table" id="visitas_table" data-query-params="queryParams">
    <thead>
        <tr>
            <th data-field="visitante_nombre">VISITANTE</th>
            <th data-field="visitante_tipo_id">TIPO ID</th>
            <th data-field="visitante_identidad">VISITANTE ID</th>
            <th data-field="origen">ORIGEN</th>
            <th data-field="destino">DESTINO</th>
            <th data-field="vehiculo_marca">VEHICULO</th>
            <th data-field="autorizada_por">AUTORIZADA POR</th>
            <th data-field="seguridad_de_turno">SEGURIDAD EN TURNO</th>
            <th data-field="fecha">FECHA</th>
            <th data-field="hora_entrada">HORA ENTRADA</th>
            <th data-field="hora_salida">HORA SALIDA</th>
            <!--			<th data-field="fecha_evento">FECHA DEL SISTEMA</th>-->
        </tr>
    </thead>
</table>